fabrica-de-dados-mateu/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nome do Data Factory",
			"defaultValue": "fabrica-de-dados-mateu"
		},
		"GoogleSheets1_apiToken": {
			"type": "secureString",
			"metadata": "Cadeia de caracteres segura para 'apiToken' de 'GoogleSheets1'"
		},
		"meudatalake_connectionString": {
			"type": "secureString",
			"metadata": "Cadeia de caracteres segura para 'connectionString' de 'meudatalake'"
		},
		"SqlServerLocalMateu_password": {
			"type": "secureString",
			"metadata": "Cadeia de caracteres segura para 'password' de 'SqlServerLocalMateu'"
		},
		"planilhaviahttp_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://docs.google.com/spreadsheets/d/1wWF958qOUIP-kZa7_5ScvxEucDw78wc-OZh-iYX5mw4/export?format=xlsx&gid=0"
		},
		"SqlServerLocalMateu_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "NMB-DADOS-474"
		},
		"SqlServerLocalMateu_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "cervejaria"
		},
		"SqlServerLocalMateu_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "NMB-DADOS-474\\MB Labs"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/GoogleSheets1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "GoogleSheets",
				"typeProperties": {
					"apiToken": {
						"type": "SecureString",
						"value": "[parameters('GoogleSheets1_apiToken')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/meudatalake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('meudatalake_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/planilhaviahttp')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('planilhaviahttp_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntimeLocalMateu')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "Integration Runtime para conexão com o banco SQL Local da minha máquina",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ext_entregas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "planilhaviahttp",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "externo_AnaliseCervejaria"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Página1",
					"location": {
						"type": "HttpServerLocation"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/planilhaviahttp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/int_entregas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "meudatalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "interno_AnaliseCervejaria"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Página1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "raw",
						"container": "engenhariadedados"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/meudatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/vendas_datalake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "meudatalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "raw",
						"container": "engenhariadedados"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/meudatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerLocalMateu')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('SqlServerLocalMateu_properties_typeProperties_server')]",
					"database": "[parameters('SqlServerLocalMateu_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": true,
					"authenticationType": "Windows",
					"userName": "[parameters('SqlServerLocalMateu_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServerLocalMateu_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntimeLocalMateu",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntimeLocalMateu')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ext_clientes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServerLocalMateu",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "externo_AnaliseCervejaria"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "id_cliente",
						"type": "nchar"
					},
					{
						"name": "nome",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "clientes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServerLocalMateu')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ext_vendas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServerLocalMateu",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "externo_AnaliseCervejaria"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "id_venda",
						"type": "int",
						"precision": 10
					},
					{
						"name": "categoria",
						"type": "nchar"
					},
					{
						"name": "estilo",
						"type": "nvarchar"
					},
					{
						"name": "preco",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "quantidade",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "vendas"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServerLocalMateu')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline-vendas-cervejaria')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copiar dados das vendas",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ext_vendas",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "vendas_datalake",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copiar dados dos clientes",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copiar dados das vendas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"id_cliente"
									]
								},
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ext_clientes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ext_clientes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "pip_cervejaria"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ext_vendas')]",
				"[concat(variables('factoryId'), '/datasets/vendas_datalake')]",
				"[concat(variables('factoryId'), '/datasets/ext_clientes')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AnaliseCervejariaTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline-vendas-cervejaria",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 3,
						"startTime": "2025-08-18T20:07:00",
						"endTime": "2025-08-18T20:15:00",
						"timeZone": "E. South America Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline-vendas-cervejaria')]"
			]
		}
	]
}