pipeline/pipeline-cervejaria.json
{
	"name": "pipeline-cervejaria",
	"properties": {
		"activities": [
			{
				"name": "raw_vendas",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_parametros",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".parquet"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ext_vendas",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "int_vendas",
						"type": "DatasetReference",
						"parameters": {
							"Conteiner": {
								"value": "@activity('Lookup_parametros').output.firstRow.Parametros.Conteiner",
								"type": "Expression"
							},
							"Diretorio": {
								"value": "@activity('Lookup_parametros').output.firstRow.Parametros.Diretorio",
								"type": "Expression"
							},
							"NomeArquivo": {
								"value": "@activity('Lookup_parametros').output.firstRow.Parametros.NomeArquivo",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup_parametros",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json_parametros",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "raw_entregas",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ext_entregas",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "pip_cervejaria"
		},
		"annotations": []
	}
}